%h3 Index

.auth
  %button{onclick: "window.location='/auth/google';", style: "border-radius: 4px; padding: 8px;"}
    %div{style: "display: inline-block; line-height: 0;"}
      %span{style: "float: left; font: bold 13px/16px arial,sans-serif; margin-right: 4px; margin-top: 7px;"} Sign In
      %span{style: "float: left; font: 13px/16px arial,sans-serif; margin-right: 11px; margin-top: 7px;"} on
      %div{style: "float: left;"}
        %img{height: "32", src: "https://ssl.gstatic.com/images/icons/gplus-32.png", style: "border: 0;", width: "32"}/
      %div{style: "clear: both;"}
